h1 {
  color: green;
}

body {
  text-align: center;
  margin: auto;
}

.job-list {
  list-style-type: none;
}

.job-list > li {
  border: 1px solid black;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 20px;
}

.media-body > .job-title {
  font-size: 18px;
  font-weight: 700;
}